<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
  <!-- <div class="background">
    <img src="http://localhost:3000/assets/lolbg.jpeg" class="background" alt="">
  </div> -->

  <div class="container">
    <img src="http://localhost:3000/assets/crow.jpg" class="img-circle" alt="crow" width="254" height="236"><br />
    <section id="cg"> CrowGang has <%= @gang.wins %> ranked wins! <br />
    CrowGang has <%= @gang.losses %> ranked losses!
  </div>

  <div class="container2">
    <img src="http://localhost:3000/assets/freeze.jpeg" class="img-circle" alt="freeze" width="254" height="236"><br />
    <section id="seven"> TEAM24SEVEN has <%= @seven.wins %> ranked wins! <br />
    TEAM24SEVEN has <%= @seven.losses %> ranked losses!
  </div>
</body>
</html>



<!-- 81323101 - kai
106 - volibear
85098161 - me -->
