

body {
  background: url(http://localhost:3000/assets/voli.jpeg);
  background-repeat: no-repeat;
 background-attachment: fixed;
 background-position: center;
}

#cg {
  font-size: 22px;
  text-align: left;
  color: #FFCC66;
}

#seven {
  font-size: 22px;
  text-align: left;
  color: #FFCC66;
}

.container {
position: absolute;
 top: 30%;
 left: 69%;
 transform: translate(-50%, -50%);
}

.twenty {
  position: absolute;
  top: 30%;
  left: 62%;
  transform: translate(-10%, -50%);
}
