
body{
  background: url(http://localhost:3000/assets/lol.png);
  background-attachment: absolute;
  overflow:hidden;
  background-repeat: no-repeat;
}

#gradient{
 width:0;
 height:50px;
 margin:0 auto;
 border-radius:100%;
 -webkit-box-shadow: 0 50px 200px 150px rgba(255, 255, 255, 0.93);
 -moz-box-shadow: 0 50px 200px 150px rgba(255, 255, 255, 0.93);
 box-shadow: 0 50px 200px 150px rgba(255, 255, 255, 0.93);
}

.searchbox{
 text-align: center;
 background-color:#fffbf8;
 padding:13px;
 width:320px;
 margin:580px auto;
 -webkit-box-sizing:border-box;
 -moz-box-sizing:border-box;
 box-sizing:border-box;
 border-radius:6px;
 -webkit-box-shadow:
 0 2px 4px 0 rgba(72, 72, 72, 0.83),
 0 10px 15px 0 rgba(126, 126, 126, 0.12),
 0 -2px 6px 1px rgba(199, 199, 199, 0.55) inset,
 0 2px 4px 2px rgba(255, 255, 255, 0.83) inset;
 -moz-box-shadow:
 0 2px 4px 0 rgba(72, 72, 72, 0.83),
 0 10px 15px 0 rgba(126, 126, 126, 0.12),
 0 -2px 6px 1px rgba(199, 199, 199, 0.55) inset,
 0 2px 4px 2px rgba(255, 255, 255, 0.83) inset;
 box-shadow:
 0 2px 4px 0 rgba(72, 72, 72, 0.83),
 0 10px 15px 0 rgba(126, 126, 126, 0.12),
 0 -2px 6px 1px rgba(199, 199, 199, 0.55) inset,
 0 2px 4px 2px rgba(255, 255, 255, 0.83) inset;
}

input[type="search"]{
 width:250px;
 height:30px;
 padding-left:65px;
 border-radius:6px;
 border:none;
 color:#939393;
 font-weight:500;
 background-color:#fffbf8;
 -webkit-box-shadow:
 0 -2px 2px 0 rgba(199, 199, 199, 0.55),
 0 1px 1px 0 #fff,
 0 2px 2px 1px #fafafa,
 0 2px 4px 0 #b2b2b2 inset,
 0 -1px 1px 0 #f2f2f2 inset,
 0 15px 15px 0 rgba(41, 41, 41, 0.09) inset;
 -moz-box-shadow:
 0 -2px 2px 0 rgba(199, 199, 199, 0.55),
 0 1px 1px 0 #fff,
 0 2px 2px 1px #fafafa,
 0 2px 4px 0 #b2b2b2 inset,
 0 -1px 1px 0 #f2f2f2 inset,
 0 15px 15px 0 rgba(41, 41, 41, 0.09) inset;
 box-shadow:
 0 -2px 2px 0 rgba(199, 199, 199, 0.55),
 0 1px 1px 0 #fff,
 0 2px 2px 1px #fafafa,
 0 2px 4px 0 #b2b2b2 inset,
 0 -1px 1px 0 #f2f2f2 inset,
 0 15px 15px 0 rgba(41, 41, 41, 0.09) inset;
}

button[type="submit"]{
 width:35px;
 height:30px;
 background-image:url(img/search-btn.png);
 background-repeat: no-repeat;
 background-position: 10px 5px;
 background-color:transparent;
 -webkit-background-size:20px 20px;
 background-size:20px 20px;
 border:none;
 cursor:pointer;
}

input[type="search"]:focus{
 outline:0;
}

#cg {
  font-size: 22px;
  text-align: left;
  color: purple;
}

#seven {
  font-size: 22px;
  text-align: left;
  color: purple;
}

#ss {
  font-size: 22px;
  text-align: left;
  color: purple;
}

.crowgang {
  font-family: "Lucida Console", Times, serif;
  position: absolute;
 top: 40%;
 left: 48%;
 transform: translate(-50%, -50%);
}

.twenty {
  font-family: "Lucida Console", Times, serif;
  position: absolute;
  top: 40%;
  left: 62%;
  transform: translate(-10%, -50%);
}

.searched_summoner {
  font-family: "Lucida Console", Times, serif;
  position: absolute;
  top: 40%;
  left: 18%;
  transform: translate(-10%, -50%);
}

.no_games_searched_summoner {
  font-family: "Lucida Console", Times, serif;
  position: absolute;
  top: 40%;
  left: 18%;
  transform: translate(-10%, -50%);
}
